<!DOCTYPE html>
<html>
  <head>
    <title>meta application</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
   <div id="main">
    <div id="left">
      
      <h1>Happening now</h1>

      <h3>Join Today.</h3>

      <img src="https://logolook.net/wp-content/uploads/2021/06/Twitter-Log%D0%BE.png" alt="">
    </div>

    <div id="right">


      <div class="con">
        <form action="/register" method="post">
          <input type="text" name="headname" placeholder="Name">

          <input type="text" name="username" placeholder="Username">
          <input type="text" name="email" placeholder="Email Id">
          <input type="password" name="password" placeholder="Password">
          <input type="text" name="Profession" placeholder="Profession">
          <input type="submit" id="submit">
          <!-- <input type="text" id="forgot" name="forgot" placeholder="Forgot Password?"> -->
          
          <div class="con2">

            <a href="/login">Log In</a>
          </div>
        </form>
      </div>

    </div>
   </div>
  </body>
</html>
